<%- include('header.ejs') -%>

    <main>
      <h1><%= title %></h1>
      <h2>Etes-vous certain de vouloir supprimer le messages suivant ?</h2>
      <form action="/messages/delete/<%= donnees.id %>" method="post">
        <input type="hidden" name="id" value="<%= donnees.id %>">
        <label for="nom">Votre nom</label><br>
        <input type="text" name="nom" id="nom" value="<%= donnees.nom %>"><br>
        <br>
        <label for="msg">Votre message</label><br>
        <input type="text" name="msg" id="msg" value="<%= donnees.message %>"><br>
        <br><br>
        <div id="confirmButtons">
          <button onclick="event.preventDefault(); window.location.href='/messages/'">Annuler</button>
          <input type="submit" value="Supprimer les données">
        </div>
        
      </form>
    </main>

<%- include('footer.ejs') -%>