<%- include('header.ejs') %>

    <main>
        <h1><%= title %></h1>
        <article>
            <p>Envoyé par <%= donnees.nom %>, <%= moment(donnees.datemessage).format('[le] DD MMMM YYYY [à] HH:mm:ss') %></p>
            <p><em><%= donnees.message %></em></p>
        </article>    
    </main>

<%- include('footer.ejs') %>